* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html {
  font-family: "Bebas Neue", cursive; 
  font-family: 'Roboto Slab', serif;
}

body{
  max-width: 100vw;
  max-height: 100vh;
}
#logoIMG{
  height:80px; 
  width:180px
}

header{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  padding-left:40px;
  padding-right:40px;
  padding-top:20px;
  padding-bottom:20px;
  height:100%;
  background-color: transparent;
  transition: 0.3s;
  z-index:100;
}



header button{
  color:#fff;
  font-family: "Bebas Neue", cursive;
  font-size:18px; 
  line-height: normal;
  border:1px solid #e50914;
  background-color:#e50914;
  padding:12px 22px;
  font-weight:400;
  border-radius:2px;
}
header button:hover{
  cursor:pointer;
}

.Hero{
  display:flex;
  flex-direction:column;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  height:650px;
  margin-top:-120px;
  background: rgba(0,0,0,0.7) url("./media/images/heroback.jpg") no-repeat;
  background-size:cover;
  background-blend-mode:overlay;  
}
.heroHeading1{
  text-align: center;
  color:#fff;
  font-size:50px;
  line-height:normal;
  font-weight:700;
}
.heroHeading2{
  text-align: center;
  color:#fff;
  font-size:26px;
  line-height:normal;
  margin-top:10px;
  margin-bottom:5px;
  font-weight:400;
}
.heroPara{
  text-align: center;
  color:#fff;
  font-size:19.2px;
  line-height:normal;
  font-weight:300;
  margin-top:15px;
  margin-bottom: 10px;
}
#fullWidth{
  background-color:#fff;
  font-family:'Roboto Slab', serif;
  border-radius: 1px solid #fff;
  padding:14px;
}
#heroButton{
  background-color: red;
  color:#fff;
  font-family:'Roboto Slab', serif;
  border: 1px solid red;
  padding:15px;
  font-size:15px;
  line-height:normal;
  border-radius:1px;
}
#emailDiv{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin-top:20px;

}
hr{
  color:#222222;
  border-bottom: 10px solid #222222;
  
}

/* Hero Section 2 */

.Hero2{
  display:flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  background-color: #000;
  padding:20px;
}
.column2 img{
 height:400px;
 width:540px;
}
.hero2Heading1{
  color:#fff;
  font-size:50px;
  line-height:55px;
  letter-spacing: normal;
  margin :0px 0px 8px;
  font-weight:700;
  
}
.hero2Heading2{
  color:#fff;
  font-size:26px;
  line-height: normal;
  font-weight: 400;
  vertical-align: baseline;
  margin: 19.5px 0px 6.5px;
  text-align: start;
}
.column1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:start;
  font-family: 'Roboto Slab', serif;
  padding:40px;
}

/* Hero Section 3 */

.Hero3{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding:20px;
}
.hero3Heading1{
  color:#fff;
  font-size:50px;
  line-height:55px;
  letter-spacing: normal;
  margin :0px 0px 8px;
  font-weight:700;
}
.hero3Heading2{
  color:#fff;
  font-size:26px;
  line-height: normal;
  font-weight: 400;
  vertical-align: baseline;
  margin: 19.5px 0px 6.5px;
  text-align: start;
}

.column4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:start;
  font-family: 'Roboto Slab', serif;
  padding:40px;
}

.column3 img{
  height:400px;
  width:540px;
  
}

/* Hero Section 4 */

.Hero4{
  
  background-color:#000;
  padding:20px 80px 20px 80px;
}
.watchHeading1{
  color:#fff;
  font-size:50px;
  line-height:55px;
  letter-spacing: normal;
  margin :0px 0px 8px;
  font-weight:700;
}
.watchHeading2{
  color:#fff;
  font-size:26px;
  line-height: normal;
  font-weight: 400;
  
  margin: 19.5px 0px 6.5px;
  text-align: start;
}
.watchSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:start;
  font-family: 'Roboto Slab', serif;
  padding:40px;
}
/* Hero Section 5 */

.Hero5{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding:20px;
}
.hero5Heading1{
  color:#fff;
  font-size:50px;
  line-height:55px;
  letter-spacing: normal;
  margin :0px 0px 8px;
  font-weight:700;
}
.hero5Heading2{
  color:#fff;
  font-size:26px;
  line-height: normal;
  font-weight: 400;
  vertical-align: baseline;
  margin: 19.5px 0px 6.5px;
  text-align: start;
}
.column5 img{
  height:400px;
  width:540px;
  
}
.column6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:start;
  font-family: 'Roboto Slab', serif;
  padding:40px;
}
/* FAQ section */

.FAQ{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:40px;
  background-color: #000;
}
.faqHeading{
  color:#fff;
  font-size:50px;
  line-height:55px;
  letter-spacing: normal;
  margin :0px 0px 8px;
  font-weight:700;
}

.faq-style-wrapper .faq-body .faq-row .row-title {
  font-family: 'Roboto Slab', serif;
  padding:0.5em !important;

}
.faq-style-wrapper .faq-body .faq-row .row-content-text {
  padding: 1em !important;
  font-family: 'Roboto Slab', serif;
}
.faq-style-wrapper {
  margin-top: 2em;
  width:43.750em;
  margin-bottom: 2em;
 
}

.faq-style-wrapper .faq-body .faq-row {
  border:1px solid #000;
  margin-top:10px;
  background-color: #222222;
  padding:10px;
  
}
.faq-style-wrapper .faq-body{
  background-color: #000;
}

.getStartedPara{
  color:#fff;
  font-family: 'Roboto Slab', serif;
  font-size:19.2px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: normal;
}

/* Footer */
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:left;
  padding:20px 0px 20px 0px;
 
}

.linkColumn1 ul li{
  color:#757575;
  list-style-type:none;
  font-size:13px;
  line-height:normal;
  font-weight:500;
  font-family:'Roboto Slab', serif;
  margin-top: 15px;
}
.country p{
  font-size:13px;
  line-height:normal;
  font-weight:400;
  color:#757575;
  font-family:'Roboto Slab', serif;
}
.country{

  display: flex;
  justify-content: center;
  padding:20px 0px 20px 0px;
  
}
.mainFooter{
  background-color:#000;
  padding:40px 20px 40px 20px;
  height:100%;
}
#textDecor{
  text-decoration: none;
}
#textDecor:hover{
  text-decoration: underline;
  text-decoration-color:#757575;
}